img {
    max-width: 100%;
    height: auto;
}

video,
svg,
iframe,
picture {
    display: block;
    max-width: 100%;
    height: auto;
}

// Media Aspect Ratios
[class*="aspect"] {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #ccc;
    transform: scale(1);

    // Slightly overflow "covered" images to prevent flickering around edges
    > img,
    > video {
        position: absolute;
        left: -1px;
        top: -1px;
        max-width: none;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        object-fit: cover;
    }

    // Don't overflow "contained" images, to prevent clipping logos, etc.
    &.contain {
        > img,
        > video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.aspect-square {
    padding-top: aspect(1920, 1920);
}

.aspect-block {
    padding-top: aspect(1920, 1540);
}

.aspect-landscape {
    padding-top: aspect(1920, 1280);
}

.aspect-widescreen {
    padding-top: aspect(1920, 1080);
}
